DATABASE_URL="mysql://root:123root4@localhost:3306/boot_whats"

# Pasta para salvar evidências de mídia removida pela IA
NSFW_EVIDENCE_DIR="./storage/deleted-media"

GEMINI_API_KEY=seu_token_aqui
GEMINI_MODEL=gemini-1.5-flash

MAX_COMMANDS_PER_MINUTE=3
